# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# 忽略vscode和插件配置
.cmsis
.eide
.vscode
.pack
*.code-workspace
*.clang-format